{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="text-center"><a class="nav-link text-muted" aria-current="page" href="{% url 'product_list' %}">На главную</a></div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.photo.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.title }}</h5>
                            <!-- Product price-->
                            {{ product.price }} грн. / 1 шт.
                            <br>
                            Всего товара на складе: {{ product.amount }}
                            <br>
                            <i style="font-size:11px">(Предполагается, что это количество общее для всех продавцов, т.к. в задании не уточняется)</i>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="text-center">
                            {% if product.amount %}
                            <form action="" method="post">
                                {% csrf_token %}
                                {# Тег crispy делает внешний вид формы немного красивее. (Если его убрать, очистить кеш, то можно заметить разницу). #}
                                {{ form|crispy }}
                                <br>
                                <input type="submit" class="btn btn-primary" value="Оплатить">
                            </form>
                            {% else %}
                            <p class="text-warning">Весь товар распродан! Покупка недоступна.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}